NET "A[0]"				LOC = J15 | IOSTANDARD = LVCMOS33;
NET "A[1]"				LOC = L16 | IOSTANDARD = LVCMOS33;
NET "A[2]"				LOC = M13 | IOSTANDARD = LVCMOS33;
NET "A[3]"				LOC = R15 | IOSTANDARD = LVCMOS33;

NET "B[0]"				LOC = R17 | IOSTANDARD = LVCMOS33;
NET "B[1]"				LOC = T18 | IOSTANDARD = LVCMOS33;
NET "B[2]"				LOC = U18 | IOSTANDARD = LVCMOS33;
NET "B[3]"				LOC = R13 | IOSTANDARD = LVCMOS33;

NET "Opcode[0]"		LOC = H6  | IOSTANDARD = LVCMOS33;
NET "Opcode[1]"		LOC = U12 | IOSTANDARD = LVCMOS33;
NET "Opcode[2]"		LOC = U11 | IOSTANDARD = LVCMOS33;
NET "Opcode[3]"		LOC = V10 | IOSTANDARD = LVCMOS33;

NET "Out[0]"			LOC = H17 | IOSTANDARD = LVCMOS33;
NET "Out[1]"			LOC = K15 | IOSTANDARD = LVCMOS33;
NET "Out[2]"			LOC = J13 | IOSTANDARD = LVCMOS33;
NET "Out[3]"			LOC = N14 | IOSTANDARD = LVCMOS33;

NET "Z"					LOC = U16 | IOSTANDARD = LVCMOS33;
NET "P"					LOC = U17 | IOSTANDARD = LVCMOS33;
NET "V"					LOC = V17 | IOSTANDARD = LVCMOS33;
NET "C"					LOC = R18 | IOSTANDARD = LVCMOS33;